
@{
    ViewBag.Title = "login";
    Layout = "~/Views/LoginShared/View.cshtml";
}

<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6 login-section">
        <div class="row margin-col-rlt-20">
            <div class="col">

                <div class="row">
                    <div class="col-sm-12 alignnext-col login-header-text">Login</div>
                </div>

                <div class="row">
                    <div class="col-sm-4 alignnext-col login-label">User Name</div>
                    <div class="col-sm-8 alignnext-col"><input type="text" id="txtUserName" class="input-textbox js-username" /></div>
                </div>
                <div class="row margin-tp-10">
                    <div class="col-sm-4 alignnext-col login-label">Password</div>
                    <div class="col-sm-8 alignnext-col"><input type="password" id="txtPassword" class="input-textbox js-password" /></div>
                </div>
                <div class="row margin-tp-10">
                    <div class="col-sm-4 alignnext-col"></div>
                    <div class="col-sm-8 alignnext-col">
                        <input type="button" id="btnLogin" class="btn btn-primary login-btn js-login-btn" value="Login" />
                        <div class="margin-tp-20">
                            <span class="txt-signup anchor-text js-signup">Signup</span>
                        </div>
                        <div class="">
                            <span class="txt-forgot-password anchor-text js-forgot-password">Forgot Password</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-tp-20 margin-col-rlt-20">
            <div class="col-sm-12 text-center"><b>Or</b></div>
        </div>

        <div class="row margin-tp-20 margin-col-rlt-20">
            <div class="col-sm-12 social-icon-wrapper text-center" id="btnGoogleLogin">
                <img class="social-icon" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                Login with Google
            </div>
            <div class="col"></div>
        </div>

    </div>
</div>

